<?xml version="1.0"?>
<zend-config>
    <plugin>
        <!-- the plugin name [A-Za-z_] -->
        <pluginName>Bootstrap</pluginName>

        <!-- a short description -->
        <pluginDescription><![CDATA[Bootstrap Elements for Pimcore]]></pluginDescription>

        <!-- meta data -->
        <pluginVersion>0.3.0</pluginVersion>

        <!-- put in the URL for the plugin configuration eg. /plugin/Bootstrap/admin/index -->
        <pluginIframeSrc></pluginIframeSrc>

        <!-- className of the plugin which extends Pimcore_API_Plugin_Abstract-->
        <pluginClassName>Bootstrap\Plugin</pluginClassName>

        <!-- include paths relative to plugin-directory -->
        <pluginIncludePaths>
            <path>/Bootstrap/lib</path>
            <path>/Bootstrap/models</path>
        </pluginIncludePaths>

        <!-- namespaces to register with autoloader-->
        <pluginNamespaces>
            <namespace>Bootstrap</namespace>
        </pluginNamespaces>

        <!-- js files with path relative to plugin-directory -->
        <pluginJsPaths>
            <path>/plugins/Bootstrap/static/js/startup.js</path>
            <path>/plugins/Bootstrap/static/js/wysiwyg.js</path>
        </pluginJsPaths>

        <pluginDocumentEditmodeJsPaths>
            <path>/Bootstrap/static/js/Button/button.js</path>
        </pluginDocumentEditmodeJsPaths>

        <pluginDocumentEditmodeCssPaths>
            <path>/Bootstrap/static/css/admin.css</path>
        </pluginDocumentEditmodeCssPaths>

        <!-- css files with path relative to plugin-directory -->
        <!--pluginCssPaths>
        </pluginCssPaths-->
    </plugin>
</zend-config>
